{% assign current = page.url | downcase | split: '/' %}
<ul class="nav navbar-nav">
  {% for entry in site.data.nav %}
  {% assign part = entry.href | downcase | split: '/' %}
  {% if entry.children %}
  <li class="dropdown{% if current[1] and current[1] == part[1] %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
       role="button" aria-haspopup="true" aria-expanded="true">
      {{ entry.text }} <span class="caret"></span>
    </a>
    {% assign cols = 1 %}
    {% for child in entry.children %}
    {% if child.break %}{% assign cols = cols | plus: 1 %}{% endif %}
    {% endfor %}
    <ul class="dropdown-menu multi-column columns-{{ cols }}">
      <div class="row">
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
            {% for child in entry.children %}
            {% if child.break %}
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="multi-column-dropdown">
            {% endif %}
            {% if child.divider %}
            <li role="separator" class="divider"></li>
            {% endif %}
            {% if child.header %}
            <li class="dropdown-header">{{ child.header }}</li>
            {% endif %}
            {% if child.text %}
            {% if child.href %}
            <li><a href="{{ child.href | relative_url }}">{{ child.text }}</a>
            {% elsif child.exthref %}
            <li><a href="{{ child.exthref }}">{{ child.text }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </ul>
  <li>
  {% else %}
  <li {% if current[1] == part[1] %}class="active"{% endif %}>
    <a href="{{ entry.href | relative_url }}">{{ entry.text }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>
