body {
  font-family: 'Roboto', sans-serif;
}

.monasca-header {
  background: url(../images/header.png) repeat bottom center;
  background-attachment: fixed;
  background-size: auto;
}

.monasca-header nav {
  margin-bottom: 0;
  background: rgba(0, 0, 0, .3);
  border: none;
  border-radius: 0;
  font-weight: 300;
}

.monasca-header .navbar .navbar-nav {
  float: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
}

.monasca-header .navbar .navbar-nav > li {
  display: inline-block;
  float: none;

  border-right: 1px solid;
  border-color: rgba(255, 255, 255, .2);

  /* there is a mysterious ~3px of padding-left on this element */
  padding-right: 3px;
}

.monasca-header .navbar .navbar-nav > li > a {
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 1em 1.5em;
}

.monasca-header .navbar .navbar-nav > li:last-child {
  padding-right: 0;
  border-right: none;
}

.monasca-header .navbar .navbar-nav > li:not(.active) > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.monasca-header .navbar .navbar-nav > li.active > a {
  background-color: rgba(255, 255, 255, 0.7);
  color: #777;
}

.monasca-header .navbar .navbar-nav > li.active > a:hover {
  color: #AAA;
}

.monasca-header .jumbotron {
  background: rgba(64, 64, 64, 0.125);
  margin-bottom: 0;
}

.monasca-header-small .jumbotron {
  padding: 12px;
}

.monasca-header .jumbotron .container {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.monasca-header .jumbotron .container > * {
  margin: 0em 1em;
}

.monasca-header-small .jumbotron .container strong {
  font-size: 1.4em;
}

.monasca-header-large .jumbotron .container h1 {
  font-size: 7em;
}

.featured {
  position: relative;
  background: #f2f2f2;
  text-align: center;
}

.featured h2 {
  font-weight: 300;
  font-size: 3em;
}

.featured h3 {
  display: block;
  font-weight: 300;
}

.featured .pennant {
  font-size: 4em;
}

.featured hr {
  border-top: solid 1px #ddd;
  margin: 6em 0 0 0;
  padding: 6em 0 0 0;
}

.featured .button {
  margin-top: 1.5em;
}

.copyright {
  background-color: #161616;
  text-align: center;
  color: #774535;
  padding: 0;
  margin-bottom: 0;
}

.copyright .container {
    padding: 3em 0em;
    color: rgba(255, 255, 255, .15);
}

.copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, .2);
}

.copyright p {
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
}

.copyright span {
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
}

.imgblocks h2 {
  font-weight: 300;
}

.imgblocks p {
  font-size: 1.2em;
  font-weight: 200;
}

.imgblocks .row > div {
  padding: 20px 20px;
}

.content h1, .content h2, .content h3 {
  font-weight: 300;
}

.content {
  padding-bottom: 2em;
}
